<html>
<body>
<div class="container">

  <h1>Welcome to Baseball Voting</h1>

  <h2><a href="/login" >Click Here to Log in!</a><h2>
  <h2><a href="/create_account" >Click Here to Create Account!</a><h2>
  
</body>
</html>
