<div class="container">
  <h1>Welcome to Baseball</h1>
  <p>Sign-in to your account!</p>

  <form id ="sign_in" action="/sign_in" method="post">
    <h3>Login:</h3>

    <br><input type="text" name="email" placeholder="Enter your email here!">
    <br>
    <br>
    <input type="password" name="password" placeholder="Enter password here!">
    <br><br>
    <input type="submit" value="login">
    
  </form>  
  <h4><a href="/signup">Don't Have an account??, Click Here to sign up</a></h4>
</div>
