<div class="container">
  <h1>Welcome to Baseball Voting</h1>
  <p>Please sign-in to your account</p>

  <form id ="sign_in" action="/signin" method="post">
    <h3>Login:</h3>
    <p><input type="text" name="email" placeholder="Enter your email here!"></p>
    <p><input type="password" name="password" placeholder="Enter password here!"></p>
    <p><input type="submit" value="login"></p>
  </form>  
  <h4></h4>
</div>
