<div class="container">
  <h1>Welcome to Baseball Voting</h1>
  <p>You need to create an account to cast your ballot!</p>

  <form id ="sign_up" action="/sign_up" method="post">
    <h3>Create new account:</h3>
    <p><input type="text" name="user[name]" placeholder="Enter your full name here!" autofocus></p>
    <p><input type="text" name="user[email]" placeholder="Enter your email here!"></p>
    <p><input type="password" name="user[password]" placeholder="Enter password here!"></p>
    <input type="submit" value="login">
  </form>
  
</div>
